Repository Simplon-hdf/API-bots-discord-documentation, pull requests merged in 2024-10, with the labels that each got.

#13 docs(bot-feedback): Create file
  doc/bot-feedback/problematiques.md
  doc/bot-feedback/regles-gestion.md
Labels: documentation

#16 docs(bot-feedback): add questions to questionnaire.md
  doc/bot-feedback/questionnaire.md
Labels: documentation

#28 docs(bot-signature/problematics.md): add intro problematics
  doc/bot-signature/problematiques.md
Labels: documentation

#31 docs(problematiques.md): Add table of problematic
  doc/bot-feedback/problematiques.md
Labels: documentation

#32 docs(problematiques.md): add problematique table
  doc/bot-signature/problematiques.md
Labels: documentation

#27 docs(doc): parse contexte-enjeux.md
  doc/contexte-et-enjeux.md
  doc/contexte.md
  doc/contraintes-opportunités.md
  doc/enjeux.md
  doc/objectifs.md
Labels: documentation

#34 docs(bot-feedback): add questions to questionnaire.md
  doc/bot-feedback/questionnaire.md
Labels: documentation

#35 docs(daily-meeting.md): Add template for daily meeting
  doc/bot-feedback/daily-meeting.md
Labels: documentation

#36 docs(problematiques.md): add learner issues
  doc/bot-onboarding/problematiques.md
Labels: documentation

#37 docs(bot-feedback): Change the name of all problematic
  doc/bot-feedback/problematiques.md
Labels: documentation, bot feedback

#39 docs(/readme.md): add nomenclature
  README.md
Labels: documentation

#45 docs(/readme.md): readme styling
  README.md
Labels: documentation

#44 docs(bot-onboarding/questionnaire.md): add new question
  doc/bot-onboarding/questionnaire.md
Labels: documentation, bot onboarding

#46 docs(bot-feedback/questionnaire.md): reorder and add questions
  doc/bot-feedback/questionnaire.md
Labels: documentation, bot feedback

#48 docs(bot-onboarding/questionnaire.md): add question
  doc/bot-onboarding/questionnaire.md
Labels: documentation, bot onboarding

#47 docs(readme.md): pull Request Approval and Merging Process
  README.md
Labels: documentation

#49 fix(schema-communication.png): rework schema
  doc/assets/images/schema-communication.png
Labels: documentation

#50 docs(doc): docs review
  doc/bot-onboarding/echanges-client/mail-recap-type.md
  doc/bot-onboarding/questionnaire.md
  doc/contexte.md
  doc/enjeux.md
  doc/objectifs.md
Labels: documentation

#52 docs(objectifs.md): add schema intro
  doc/bot-signature/problematiques.md
  doc/objectifs.md
Labels: documentation, enhancement

#51 docs(enjeux.md): modify content
  doc/enjeux.md
Labels: documentation

#54 docs(bot-onboarding): Write mail recap 16-10-24
  doc/bot-onboarding/echanges-client/mail-recap-16-10-24.md
Labels: documentation, bot onboarding

#56 docs(bot-onboarding): modify mail recap
  doc/bot-onboarding/echanges-client/mail-recap-16-10-24.md
Labels: documentation, bot onboarding

#59 docs(bot-onboarding): mail review
  doc/bot-onboarding/echanges-client/mail-recap-16-10-24.md
Labels: documentation, bot onboarding

#60 docs(bot-onboarding): fix spelling mistakes
  doc/bot-onboarding/echanges-client/mail-recap-16-10-24.md
Labels: documentation, bot onboarding

#61 docs(bot-feedback): create mail template
  doc/bot-feedback/echanges-client/mail-recap-type.md
Labels: documentation, bot feedback

#63 docs(bot-onboarding): reorganize echanges-client directory
  doc/bot-onboarding/echanges-client/echange-16-10-24/mail-recap.md
  doc/bot-onboarding/echanges-client/echange-16-10-24/questionnaire.md
Labels: documentation, bot onboarding

#64 docs(bot-feedback): Write mail recap 16-10-24
  doc/bot-feedback/echanges-client/echange-16-10-24/mail-recap.md
  doc/bot-feedback/echanges-client/echange-16-10-24/questionnaire.md
Labels: documentation, bot feedback

#65 docs(bot-onboarding): functional requirements
  doc/bot-onboarding/exigences.md
Labels: documentation, bot onboarding

#66 docs(/): init techlead meeting's questionnaire and add a new PR rule
  README.md
  doc/bot-onboarding/questions-reu-tech-lead.md
Labels: documentation, bot onboarding

#67 docs(/README.md): modify "Approbation partagée" rule
  README.md
Labels: documentation

#68 docs(bot-onboarding): correct functional requirements
  doc/bot-onboarding/exigences.md
Labels: documentation, bot onboarding

#70 docs(bot-onboarding): add non-functional requirements
  doc/bot-onboarding/exigences.md
Labels: documentation, bot onboarding

#72 docs(bot-feedback): add julien on daily-meeting file
  doc/bot-feedback/daily-meeting.md
  doc/bot-signature/problematiques.md
Labels: documentation, bot feedback

#71 docs(bot-onboarding): add 2 questions for synchro
  doc/bot-onboarding/questions-reu-tech-lead.md
Labels: documentation, bot onboarding

#73 docs(bot-feedback): Add and complete file exigences.md
  doc/bot-feedback/exigences.md
Labels: documentation, bot feedback

#74 docs(bot-onboarding): new questions for techlead meeting
  doc/bot-onboarding/questions-reu-tech-lead.md
Labels: documentation, bot onboarding

#75 docs(bot-feedback): update exigences.md
  doc/bot-feedback/exigences.md
Labels: documentation, bot feedback

#76 docs(bot-onboarding): techlead meeting questions
  doc/bot-onboarding/questions-reu-tech-lead.md
Labels: documentation, bot onboarding

#77 docs(bot-feedback): Rewrite all the requirements
  doc/bot-feedback/exigences.md
Labels: documentation, bot feedback

#80 docs(bot-onboarding): new questions for techlead's meeting
  doc/bot-onboarding/questions-reu-tech-lead.md
Labels: documentation, bot onboarding

#81 docs(bot-onboarding): add management rules
  doc/bot-onboarding/regles-gestion.md
Labels: documentation, bot onboarding

#83 docs(bot-feedback): Update all the requirements
  doc/bot-feedback/exigences.md
Labels: documentation, bot feedback

#84 docs(bot-feedback): update first part in this file
  doc/bot-feedback/exigences.md
Labels: documentation, bot feedback

#85 docs(bot-onboarding): add roles
  doc/bot-onboarding/schema-fonctionnel-client.md
Labels: documentation, bot onboarding

#87 docs(bot-onboarding): add management rules and modify requirements
  doc/bot-onboarding/exigences.md
  doc/bot-onboarding/regles-gestion.md
Labels: documentation, bot onboarding

#89 docs(bot-onboarding): modify management rules
  doc/bot-onboarding/regles-gestion.md
Labels: documentation, bot onboarding

#90 docs(bot-feedback): add template for management rules
  doc/bot-feedback/regles-gestion.md
Labels: documentation, bot feedback

#91 docs(bot-onboarding): number of business rules
  doc/bot-onboarding/regles-gestion.md
Labels: documentation, bot onboarding

#92 docs(bot-onboarding): add new questions for techlead meeting
  doc/bot-onboarding/questions-reu-tech-lead.md
Labels: documentation, bot onboarding

#93 docs(bot-feedback): add all business rules
  doc/bot-feedback/regles-gestion.md
Labels: documentation, bot feedback

#94 docs(bot-onboarding): correct management rules
  doc/bot-onboarding/regles-gestion.md
Labels: documentation, bot onboarding

#96 docs(bot-onboarding): review regles-gestion.md
  doc/bot-onboarding/regles-gestion.md
Labels: documentation, bot onboarding

#97 docs(bot-feedback): add number for all the business rules
  doc/bot-feedback/regles-gestion.md
Labels: documentation, bot feedback

#98 docs(bot-onboarding): new questions to techlead's meeting
  doc/bot-onboarding/questions-reu-tech-lead.md
Labels: documentation, bot onboarding

#100 docs(bot-onboarding): modify functional requirements
  doc/bot-onboarding/exigences.md
Labels: documentation, bot onboarding

#101 docs(bot-onboarding): fix management's rules and add a tech question
  doc/bot-onboarding/questions-reu-tech-lead.md
  doc/bot-onboarding/regles-gestion.md
Labels: documentation, bot onboarding

#104 docs(README.md): add more rules
  README.md
Labels: documentation, bot onboarding

#102 docs(bot-feedback): Rewrite first part of business rules
  doc/bot-feedback/regles-gestion.md
Labels: documentation, bot feedback

#105 docs(bot-onboarding): add question 25
  doc/bot-onboarding/questions-reu-tech-lead.md
Labels: documentation, bot onboarding

#106 docs(bot-feedback): add business rules
  doc/bot-feedback/regles-gestion.md
Labels: documentation, bot feedback

#107 docs(bot-onboarding): add folder and files
  doc/bot-onboarding/echanges-client/echanges-23-10-24/mail-recap.md
  doc/bot-onboarding/echanges-client/echanges-23-10-24/questionnaire.md
Labels: documentation, bot onboarding

#108 docs(bot-onboarding): review post techlead's meeting
  doc/bot-onboarding/regles-gestion.md
Labels: documentation, bot onboarding

#110 docs(bot-signature): add business rules
  doc/bot-signature/echanges-client/mail-2024-10-16.md
  doc/bot-signature/regles-gestion.md
Labels: documentation, bot signature

#111 docs(bot-feedback): update business rules
  doc/bot-feedback/regles-gestion.md
Labels: documentation, bot feedback

#112 docs(bot-feedback): update business rules
  doc/bot-feedback/regles-gestion.md
Labels: documentation, bot feedback

#113 docs(bot-onboarding): create mail
  doc/bot-onboarding/echanges-client/echanges-23-10-24/mail-recap.md
Labels: documentation, bot onboarding

#114 docs(bot-onboarding): Organize questionnary
  doc/bot-onboarding/echanges-client/echanges-23-10-24/questionnaire.md
  doc/bot-onboarding/echanges-client/stock-questions.md
  doc/bot-onboarding/questions-reu-tech-lead.md
Labels: documentation, bot onboarding

#115 docs(bot-signature): update rules
  doc/bot-signature/regles-gestion.md
Labels: documentation, bot signature

#116 docs(bot-onboarding): delete questions-reu-tech-lead.md
  doc/bot-onboarding/echanges-client/stock-questions.md
  doc/bot-onboarding/questions-reu-tech-lead.md
Labels: documentation, bot onboarding

#117 docs(bot-feedback): correct the typo of rules 17
  doc/bot-feedback/regles-gestion.md
Labels: documentation, bot feedback

#119 docs(bot-signature): update business rule 34 & 27
  doc/bot-signature/regles-gestion.md
Labels: documentation, bot signature

#121 docs(bot-feedback): rewrite business rules
  doc/bot-feedback/regles-gestion.md
Labels: documentation, bot feedback

#122 docs(readme): add summary
  README.md
Labels: documentation

#124 docs(bot-feedback): add questionnaire.md
  doc/bot-feedback/echanges-client/questionnaire.md
Labels: documentation, bot feedback

#125 docs(enjeux.md): Add new part
  doc/enjeux.md
Labels: documentation

#127 docs(bot-onboarding): add one requirement
  doc/bot-onboarding/exigences.md
Labels: documentation, bot onboarding

#128 docs(bot-feedback): rewrite of business rules in regles-gestion.md
  doc/bot-feedback/regles-gestion.md
Labels: documentation, bot feedback

#129 docs(readme): add Cancellation of pull request approvals
  README.md
Labels: documentation

#132 docs(bot-onboarding): modify questions
  doc/bot-onboarding/echanges-client/stock-questions.md
Labels: documentation, bot onboarding

#133 docs(bot-onboarding): questions and email recap
  doc/bot-onboarding/echanges-client/echanges-30-10-24/mail-recap.md
  doc/bot-onboarding/echanges-client/echanges-30-10-24/questionnaire.md
  doc/bot-onboarding/echanges-client/stock-questions.md
Labels: documentation, bot onboarding
