Repository Simplon-hdf/API-bots-discord-documentation, pull requests merged in 2025-02, with the labels that each got.

#189 docs(bot-onboarding): add sequence diagram
  doc/bot-onboarding/bdd/UML/sequence-diagram-campus-creation.jpg
Labels: documentation, bot onboarding

#190 docs(bot-onboarding): add email recap
  doc/bot-onboarding/echanges-client/echange-30-01-25/mail-recap.md
  doc/bot-onboarding/echanges-client/echange-30-01-25/notes-reunion.md
  doc/bot-onboarding/echanges-client/echange-30-01-25/questionnaire.md
  doc/bot-onboarding/echanges-client/stock-questions.md
Labels: documentation, bot onboarding

#191 docs(simplon-community): update database and use case diagrams (MCD, MLD, Data Dictionary, Comments, Votes, Reports, Sequence Diagram)
  README.md
  doc/bot-community/bdd/MCD.png
  doc/bot-community/bdd/MLD.png
  doc/bot-community/bdd/UML.png
  doc/bot-community/bdd/diagrammes-cas-utilisation/Use-case-Commentaire-CRUD.png
  doc/bot-community/bdd/diagrammes-cas-utilisation/Use-case-ressource-CRUD-diagram.png
  doc/bot-community/bdd/diagrammes-cas-utilisation/Use-case-signalement.png
  doc/bot-community/bdd/diagrammes-cas-utilisation/Use-case-vote-CRUD-diagram.png
  doc/bot-community/bdd/diagrammes-de-sequences/resource-diagram-sequence.png
  doc/bot-community/bdd/dictionnaire-de-donnees.md
Labels: documentation, help wanted, bot community

#192 docs(bot-onboarding): new MCD, MLD and MPD
  doc/bot-onboarding/bdd/MERISE/mcd.jpg
  doc/bot-onboarding/bdd/MERISE/mld.jpg
  doc/bot-onboarding/bdd/MERISE/mpd.jpg
Labels: documentation, bot onboarding

#193 docs(bot-feedback): add usecase diagram
  doc/bot-feedback/uml/use-case.drawio
  doc/bot-feedback/uml/use-case.jpg
Labels: documentation, bot feedback

#199 docs(doc): add benchmark front and back
  doc/benchmarks/benchmark-back.md
  doc/benchmarks/benchmark-front.md
  doc/bot-onboarding/daily-meeting.md
  doc/bot-onboarding/daily-meeting/daily-meeting-10-02-2025.md
  doc/bot-onboarding/daily-meeting/daily-meeting-11-02-2025.md
Labels: documentation

#196 docs(bot-onboarding): delete 2 rules of management
  doc/bot-onboarding/regles-gestion.md
Labels: documentation, bot onboarding

#200 docs(bot-community): add 'rewards' use-case diagram + RBAC
  doc/bot-community/RBAC.md
  doc/bot-community/bdd/diagrammes-cas-utilisation/use-case-rewards.png
  doc/bot-community/regles-gestion.md
Labels: documentation, bot community

#202 docs(bdd): update mcd, mld and mpd
  doc/bdd/fil-rouge.loo
  doc/bdd/mcd-global.jpg
  doc/bdd/mld-global.jpg
  doc/bdd/mpd-global.jpg
Labels: documentation

#203 docs(bot-onboarding): add february email recap
  doc/bot-onboarding/echanges-client/echanges-19-02-25/mail-recap.md
Labels: documentation, bot onboarding
