Repository Simplon-hdf/API-bots-discord-documentation, pull requests merged in 2025-01, with the labels that each got.

#177 docs(bot-onboarding): add security files
  doc/bot-onboarding/securite/defense-profondeur.md
  doc/bot-onboarding/securite/politique-moindre-privilege.md
  doc/bot-onboarding/securite/reduction-surface-attaque.md
Labels: documentation, bot onboarding

#176 docs(securite): add backup policy
  doc/securite/02-back-end.md
Labels: documentation, security

#178 docs(bot-onboarding): management rules review
  doc/bot-onboarding/regles-gestion.md
Labels: documentation, bot onboarding

#180 docs(bot-community): add merise and a first draw of UML
  doc/bot-community/bdd/MCD.png
  doc/bot-community/bdd/MLD.png
  doc/bot-community/bdd/UML.png
Labels: documentation, bot community

#181 docs(bdd): add the merise docs for the project
  doc/bdd/fil-rouge.loo
  doc/bdd/mcd.png
  doc/bdd/mld.png
Labels: documentation

#182 docs(bot-onboarding): add questions
  doc/bot-onboarding/echanges-client/stock-questions.md
Labels: documentation, bot onboarding

#185 docs(bot-feedback): add mail template and mcd
  doc/bot-feedback/bdd/mcd.jpg
  doc/bot-feedback/echanges-client/mail-rendez-vous.md
Labels: documentation, bot feedback

#184 docs(bot-onboarding): reorganize BDD directory and add diagrams
  doc/bot-onboarding/bdd/MERISE/mcd.jpg
  doc/bot-onboarding/bdd/MERISE/mld.jpg
  doc/bot-onboarding/bdd/MERISE/mpd.jpg
  doc/bot-onboarding/bdd/UML/class-diagram.jpg
  doc/bot-onboarding/bdd/UML/diagrammes-cas-utilisation/use-case-diagram-authentification.jpg
  doc/bot-onboarding/bdd/UML/diagrammes-cas-utilisation/use-case-diagram-creation.jpg
Labels: documentation, bot onboarding

#183 docs(global): add contribution guidelines and conventions
  CONTRIBUTING.md
Labels: documentation, enhancement

#186 docs(bot-feedback): update merise
  doc/bot-feedback/bdd/mcd.jpg
  doc/bot-feedback/bdd/mld.jpg
  doc/bot-feedback/bdd/mpd.jpg
Labels: documentation, bot feedback

#187 docs(bot-onboarding): add questions
  doc/bot-onboarding/echanges-client/stock-questions.md
Labels: bot onboarding
